.upper-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-logo {
  font-size: 24px;
  font-family: Times, serif;
  position: relative;
  display: inline-block;
  align-items: center;
}

.logo-layers {
  position: absolute;
  top: 0;
  left: 0;
}

#logo-part-1 {
  color: var(--main-color);
  position: relative;
  z-index: 9999;
}

#logo-part-2 {
  color: var(--accent-color);
  position: absolute;
  transform: translate(-2px, -1px);
  z-index: 9998;
}

#logo-part-3 {
  color: var(--alternative-color);
  position: absolute;
  transform: translate(2px, 1px);
  z-index: 9997;
}

.main-logo:hover #logo-part-2 {
  transform: translate(-3px, -1px);
}

.main-logo:hover #logo-part-3 {
  transform: translate(3px, 1px);
}

.search-bar {
  display: flex;
  align-items: stretch;
  height: 42px;
  --search-bar-font-size: 14px;
}

.search-bar button {
  font-size: var(--search-bar-font-size);
}

#search-input {
  width: 220px;
  border: 1px solid var(--alternative-color);
  margin-right: 20px;
  padding-left: 10px;
  font-size: var(--search-bar-font-size);
}

#search-input:hover {
  width: 400px;
}

.lower-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 54px;
  font-size: 24px;
  font-weight: 400;
}

.add-teacher-button {
  font-size: inherit;
  height: 100%;
}

.navbar {
  font-family: Conamore, serif;
  font-weight: 500;
}

.menu {
  list-style: none;
  padding-left: 0;
  display: flex;
  justify-content: start;
  color: var(--accent-color);
  gap: 42px;
}

.menu a {
  text-decoration: none;
  color: inherit;
  font: inherit;
}

.menu a:hover {
  color: var(--accent-color-hover);
}
