.statistics-table {
  width: 100%;
  border-collapse: collapse;
}

.statistics-table thead {
  border-bottom: 1px solid var(--alternative-color);
}

.statistics-table th {
  position: relative;
  cursor: pointer;

  &:hover {
    box-shadow: inset 0 -4px 0 0 var(--alternative-color);
    background-color: color-mix(in srgb, var(--alternative-color) 3%, transparent);
  }

  &::after {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    content: "";
    color: var(--tiffany-blue);
    margin-left: 10px;
  }


  &.is-sorted-asc::after {
    content: "↓";
  }

  &.is-sorted-desc::after {
    content: "↑";
  }
}

.statistics-table thead th {
  font-size: 20px;
  font-weight: 300;
  padding: 8px 0 16px 0;
}

.statistics-table thead th:first-child {
  text-align: left;
  padding-left: 44px;
}

.statistics-table tbody td {
  text-align: center;
  padding: 6px 22px 6px 22px;
}

.statistics-table tbody td:first-child {
  text-align: left;
}

.statistics-table tbody tr:nth-of-type(even) {
  background-color: color-mix(in srgb, var(--alternative-color) 3%, transparent);
}

.table-navigation {
  padding-left: 22px;

  & ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: flex-start;
    gap: 24px;
  }

  & button {
    color: var(--tiffany-blue);
    font: inherit;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    appearance: none;
  }

  & button:hover {
    color: color-mix(in srgb, var(--tiffany-blue) 30%, var(--alternative-color));
  }

  & .is-active {
    color: color-mix(in srgb, var(--tiffany-blue) 30%, var(--alternative-color));
  }
}
