<section class="favourites">
    <h1 class="section-heading">Favourites</h1>

    <div class="pseudo-carousel" aria-label="Обрані викладачі">
        <button class="carousel-button-prev" type="button" aria-label="Попередні">
            <img src="/src/static/images/arrow.png" alt="button-prev" aria-hidden="true">
        </button>

        <button class="carousel-button-next" type="button" aria-label="Наступні">
            <img src="/src/static/images/arrow.png" alt="button-next" aria-hidden="true">
        </button>

        <div class="pseudo-carousel-list" tabindex="0">
            <div class="teacher-card" >
                <div class="teacher-avatar-wrapper">
                    <div class="teacher-photo-clipper">
                        <img src="/src/static/images/firstpersonPromo-mediumSquareAt3X.jpg" alt="teacher-photo">
                    </div>
                </div>
                <div class="teacher-info">
                    <div class="teacher-name">
                        <p>Ari</p>
                        <p>Tang</p>
                    </div>
                    <p class="teacher-country">Finland</p>
                </div>
            </div>

            <div class="teacher-card">
                <div class="teacher-avatar-wrapper">
                    <div class="teacher-photo-clipper">
                        <img src="/src/static/images/firstpersonPromo-mediumSquareAt3X.jpg" alt="teacher-photo">
                    </div>
                </div>
                <div class="teacher-info">
                    <div class="teacher-name">
                        <p>Ari</p>
                        <p>Tang</p>
                    </div>
                    <p class="teacher-country">Finland</p>
                </div>
            </div>

            <div class="teacher-card">
                <div class="teacher-avatar-wrapper">
                    <div class="teacher-photo-clipper">
                        <img src="/src/static/images/firstpersonPromo-mediumSquareAt3X.jpg" alt="teacher-photo">
                    </div>
                </div>
                <div class="teacher-info">
                    <div class="teacher-name">
                        <p>Ari</p>
                        <p>Tang</p>
                    </div>
                    <p class="teacher-country">Finland</p>
                </div>
            </div>

            <div class="teacher-card">
                <div class="teacher-avatar-wrapper">
                    <div class="teacher-photo-clipper">
                        <img src="/src/static/images/firstpersonPromo-mediumSquareAt3X.jpg" alt="teacher-photo">
                    </div>
                </div>
                <div class="teacher-info">
                    <div class="teacher-name">
                        <p>Ari</p>
                        <p>Tang</p>
                    </div>
                    <p class="teacher-country">Finland</p>
                </div>
            </div>
        </div>
    </div>
</section>
