<section class="favourites">
    <h1 class="section-heading">Favourites</h1>

    <div class="carousel">
        <button class="carousel-button-prev" type="button">
            <img src="/src/static/images/arrow.png" alt="button-prev" aria-hidden="true">
        </button>

        <button class="carousel-button-next" type="button">
            <img src="/src/static/images/arrow.png" alt="button-next" aria-hidden="true">
        </button>

        <div class="carousel-list" tabindex="0"></div>
    </div>
</section>
