<section class="favourites">
    <h1 class="section-heading">Favourites</h1>
    <div class="pseudo-carousel">
        <button class="carousel-button-prev" type="button"><img id="carousel-button-prev-image" src="/src/static/images/arrow.png" alt="carousel-previous"></button>
        <button class="carousel-button-next" type="button"><img id="carousel-button-next-image" src="/src/static/images/arrow.png" alt="carousel-next"></button>
        <div class="pseudo-carousel-list">
            <div class="teacher-card">
                <div class="teacher-avatar-wrapper">
                    <div class="teacher-photo-clipper"><img class="teacher-photo-avatar" src="/src/static/images/firstpersonPromo-mediumSquareAt3X.jpg" alt="teacher-photo"></div>
                </div>
                <div class="teacher-info">
                    <div class="teacher-name">
                        <p>Ari</p>
                        <p>Tang</p>
                    </div>
                    <p class="teacher-country">Finland</p>
                </div>
            </div>
            <div class="teacher-card">
                <div class="teacher-avatar-wrapper">
                    <div class="teacher-text-avatar"><span>A.T</span></div>
                </div>
                <div class="teacher-info">
                    <div class="teacher-name">
                        <p>Ari</p>
                        <p>Tang</p>
                    </div>
                    <p class="teacher-country">Finland</p>
                </div>
            </div>
            <div class="teacher-card">
                <div class="teacher-avatar-wrapper">
                    <div class="teacher-photo-clipper"><img class="teacher-photo-avatar" src="/src/static/images/firstpersonPromo-mediumSquareAt3X.jpg" alt="teacher-photo"></div>
                </div>
                <div class="teacher-info">
                    <div class="teacher-name">
                        <p>Ari</p>
                        <p>Tang</p>
                    </div>
                    <p class="teacher-country">Finland</p>
                </div>
            </div>
            <div class="teacher-card">
                <div class="teacher-avatar-wrapper">
                    <div class="teacher-photo-clipper"><img class="teacher-photo-avatar" src="/src/static/images/firstpersonPromo-mediumSquareAt3X.jpg" alt="teacher-photo"></div>
                </div>
                <div class="teacher-info">
                    <div class="teacher-name">
                        <p>Ari</p>
                        <p>Tang</p>
                    </div>
                    <p class="teacher-country">Finland</p>
                </div>
            </div>
            <div class="teacher-card">
                <div class="teacher-avatar-wrapper">
                    <div class="teacher-photo-clipper"><img class="teacher-photo-avatar" src="/src/static/images/firstpersonPromo-mediumSquareAt3X.jpg" alt="teacher-photo"></div>
                </div>
                <div class="teacher-info">
                    <div class="teacher-name">
                        <p>Ari</p>
                        <p>Tang</p>
                    </div>
                    <p class="teacher-country">Finland</p>
                </div>
            </div>
        </div>
    </div>
</section>
