<footer>
    <div class="footer-text-wrapper">
        <p class="footer-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores consequatur eligendi eveniet harum ipsa minus molestiae nulla odit sapiente sit? Adipisci debitis eaque enim expedita ipsum nam obcaecati tenetur voluptatem.</p>
        <p class="footer-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores consequatur eligendi eveniet harum ipsa minus molestiae nulla odit sapiente sit? Adipisci debitis eaque enim expedita ipsum nam obcaecati tenetur voluptatem.</p>
    </div>
    <div class="lower-header">
        <nav class="navbar">
            <ul class="menu">
                <li><a href="#">Teachers</a></li>
                <li><a href="#">Statistic</a></li>
                <li><a href="#">Favourites</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </nav>
        <button class="standard-button add-teacher-button" type="button">Add teacher</button>
    </div>
</footer>
