<header>
    <div class="upper-header">
        <div class="main-logo">
            <h1 class="logo-layers" id="logo-part-1">Teachinder</h1>
            <h1 class="logo-layers" id="logo-part-2">Teachinder</h1>
            <h1 class="logo-layers" id="logo-part-3">Teachinder</h1>
        </div>
        <form class="search-bar">
            <label for="search-input"></label><input id="search-input" type="search" placeholder="Name, note or age to search"/>
            <button class="standard-button" type="submit">Search</button>
        </form>
    </div>
    <div class="lower-header">
        <nav class="navbar">
            <ul class="menu">
                <li><a href="#">Teachers</a></li>
                <li><a href="#">Statistic</a></li>
                <li><a href="#">Favourites</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </nav>
        <button class="standard-button add-teacher-button" type="button">Add teacher</button>
    </div>
</header>
