<section class="statistics">
    <h1 class="section-heading">Statistics</h1>
    <div class="statistics-table-wrapper">
        <table class="statistics-table">
            <thead>
            <tr>
                <th scope="col" data-sort="full_name">Name</th>
                <th scope="col" data-sort="course">Speciality</th>
                <th scope="col" data-sort="age">Age</th>
                <th scope="col" data-sort="gender">Gender</th>
                <th scope="col" data-sort="country">Nationality</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <div class="table-navigation">
    </div>
</section>
