<section class="top-teachers">
    <h1 class="section-heading">Top Teachers</h1>
    <div class="top-teachers-filters">
        <div class="filter-group">
            <label for="filter-age">Age</label>
            <select id="filter-age" name="age">
                <option value="18-31">18-31</option>
            </select>
        </div>
        <span class="vertical-separator" aria-hidden="true"></span>
        <div class="filter-group">
            <label for="filter-region">Region</label>
            <select id="filter-region" name="region">
                <option value="europe">Europe</option>
            </select>
        </div>
        <span class="vertical-separator" aria-hidden="true"></span>
        <div class="filter-group">
            <label for="filter-sex">Sex</label>
            <select id="filter-sex" name="sex">
                <option value="male">Male</option>
            </select>
        </div>
        <span class="vertical-separator" aria-hidden="true"></span>
        <div class="filter-group">
            <input id="filter-only-with-photo" type="checkbox" name="only-with-photo" />
            <label for="filter-only-with-photo">Only with photo</label>
        </div>
        <span class="vertical-separator" aria-hidden="true"></span>
        <div class="filter-group">
            <input id="filter-only-favourites" type="checkbox" name="only-favourites" />
            <label for="filter-only-favourites">Only favourites</label>
        </div>
    </div>
    <div class="top-teachers-list">
        <div class="teacher-card">
            <div class="teacher-avatar-wrapper">
                <img class="teacher-star" style="display: none;" src="/src/static/images/star.svg" alt="teacher-star">
                <div class="teacher-photo-clipper"><img class="teacher-photo-avatar" src="/src/static/images/firstpersonPromo-mediumSquareAt3X.jpg" alt="teacher-photo"></div>
            </div>
            <div class="teacher-info">
                <div class="teacher-name">
                    <p>Ari</p>
                    <p>Tang</p>
                </div>
                <p class="teacher-subject">Math</p>
                <p class="teacher-country">Finland</p>
            </div>
        </div>
        <div class="teacher-card">
            <div class="teacher-avatar-wrapper">
                <img class="teacher-star" style="display: none;" src="/src/static/images/star.svg" alt="teacher-star">
                <div class="teacher-photo-clipper"><img class="teacher-photo-avatar" src="/src/static/images/firstpersonPromo-mediumSquareAt3X.jpg" alt="teacher-photo"></div>
            </div>
            <div class="teacher-info">
                <div class="teacher-name">
                    <p>Ari</p>
                    <p>Tang</p>
                </div>
                <p class="teacher-subject">Math</p>
                <p class="teacher-country">Finland</p>
            </div>
        </div>
        <div class="teacher-card">
            <div class="teacher-avatar-wrapper">
                <img class="teacher-star" src="/src/static/images/star.svg" alt="teacher-star">
                <div class="teacher-photo-clipper"><img class="teacher-photo-avatar" src="/src/static/images/firstpersonPromo-mediumSquareAt3X.jpg" alt="teacher-photo"></div>
            </div>
            <div class="teacher-info">
                <div class="teacher-name">
                    <p>Ari</p>
                    <p>Tang</p>
                </div>
                <p class="teacher-subject">Math</p>
                <p class="teacher-country">Finland</p>
            </div>
        </div>
        <div class="teacher-card">
            <div class="teacher-avatar-wrapper">
                <img class="teacher-star" style="display: none;" src="/src/static/images/star.svg" alt="teacher-star">
                <div class="teacher-photo-clipper"><img class="teacher-photo-avatar" src="/src/static/images/firstpersonPromo-mediumSquareAt3X.jpg" alt="teacher-photo"></div>
            </div>
            <div class="teacher-info">
                <div class="teacher-name">
                    <p>Ari</p>
                    <p>Tang</p>
                </div>
                <p class="teacher-subject">Math</p>
                <p class="teacher-country">Finland</p>
            </div>
        </div>
        <div class="teacher-card">
            <div class="teacher-avatar-wrapper">
                <img class="teacher-star" src="/src/static/images/star.svg" alt="teacher-star">
                <div class="teacher-text-avatar"><span>A.T</span></div>
            </div>
            <div class="teacher-info">
                <div class="teacher-name">
                    <p>Ari</p>
                    <p>Tang</p>
                </div>
                <p class="teacher-subject">Math</p>
                <p class="teacher-country">Finland</p>
            </div>
        </div>
        <div class="teacher-card">
            <div class="teacher-avatar-wrapper">
                <img class="teacher-star" style="display: none;" src="/src/static/images/star.svg" alt="teacher-star">
                <div class="teacher-photo-clipper"><img class="teacher-photo-avatar" src="/src/static/images/firstpersonPromo-mediumSquareAt3X.jpg" alt="teacher-photo"></div>
            </div>
            <div class="teacher-info">
                <div class="teacher-name">
                    <p>Ari</p>
                    <p>Tang</p>
                </div>
                <p class="teacher-subject">Math</p>
                <p class="teacher-country">Finland</p>
            </div>
        </div>
    </div>
</section>
